{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <div class="min-h-[90vh] mt-[-20px] relative h-full flex items-center justify-center" style="background-image: url('{{ asset('images/bg-accueil-dark.jpg') }}');">
        <div class="container mx-auto flex flex-col items-center justify-center">
            {{ form_start(form, { 'attr': {'enctype':'multipart/form-data'} }) }}

            <div class="profile-container grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
                <div class="profile-image flex flex-col items-center">
                    <img id="profile-picture-preview" src="{{ asset(user.getProfilePictureOrDefault()) }}"
                         data-default-src="{{ asset('images/profile/ajouter_des_photos.png') }}"
                         alt="Prévisualisation de l'image" class="w-[300px] h-[300px] object-cover rounded-lg shadow-md border-4 border-white">
                    <button type="button" id="remove-picture" class="bg-[#ffe100] text-black font-bold py-2 px-4 rounded hover:bg-yellow-600 shadow-md mt-4" onclick="removePicture()">Supprimer la photo</button>
                </div>

                <div class="profile-form w-full max-w-[700px] bg-white rounded-md p-8 shadow-md text-lg border-4"
                     style="border-image: linear-gradient(to right, #4f46e5, #9d4edd, #ec4899) 1;">
                    {{ form_errors(form) }}

                    <h1 class="text-center text-black text-3xl font-semibold mb-4">Modifier mon profil</h1>

                    <div class="space-y-6">
                        <div class="flex flex-col">
                            <div class="flex justify-between items-center">
                                {{ form_label(form.pseudo, null, {'label_attr': {'class': 'text-left w-1/3'}}) }}
                                {{ form_widget(form.pseudo, {'attr': {'class': 'w-2/3 text-right'}}) }}
                            </div>
                            <div class="text-sm text-red-600">
                                {{ form_errors(form.pseudo) }}
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex justify-between items-center">
                                {{ form_label(form.first_name, null, {'label_attr': {'class': 'text-left w-1/3'}}) }}
                                {{ form_widget(form.first_name, {'attr': {'class': 'w-2/3 text-right'}}) }}
                            </div>
                            <div class="text-sm text-red-600">
                                {{ form_errors(form.first_name) }}
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex justify-between items-center">
                                {{ form_label(form.last_name, null, {'label_attr': {'class': 'text-left w-1/3'}}) }}
                                {{ form_widget(form.last_name, {'attr': {'class': 'w-2/3 text-right'}}) }}
                            </div>
                            <div class="text-sm text-red-600">
                                {{ form_errors(form.last_name) }}
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex justify-between items-center">
                                {{ form_label(form.phone, null, {'label_attr': {'class': 'text-left w-1/3'}}) }}
                                {{ form_widget(form.phone, {'attr': {'class': 'w-2/3 text-right'}}) }}
                            </div>
                            <div class="text-sm text-red-600">
                                {{ form_errors(form.phone) }}
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex justify-between items-center">
                                {{ form_label(form.email, null, {'label_attr': {'class': 'text-left w-1/3'}}) }}
                                {{ form_widget(form.email, {'attr': {'class': 'w-2/3 text-right'}}) }}
                            </div>
                            <div class="text-sm text-red-600">
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex justify-between items-center">
                                {{ form_label(form.password, null, {'label_attr': {'class': 'text-left w-1/3'}}) }}
                                {{ form_widget(form.password, {'attr': {'class': 'w-2/3 text-right'}}) }}
                            </div>
                            <div class="text-sm text-red-600">
                                {{ form_errors(form.password) }}
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex justify-between items-center">
                                {{ form_label(form.password_confirmation, null, {'label_attr': {'class': 'text-left w-1/3'}}) }}
                                {{ form_widget(form.password_confirmation, {'attr': {'class': 'w-2/3 text-right'}}) }}
                            </div>
                            <div class="text-sm text-red-600">
                                {{ form_errors(form.password_confirmation) }}
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex justify-between items-center">
                                {{ form_label(form.site, null, {'label_attr': {'class': 'text-left w-1/3'}}) }}
                                {{ form_widget(form.site, {'attr': {'class': 'w-2/3 text-right'}}) }}
                            </div>
                            <div class="text-sm text-red-600">
                                {{ form_errors(form.site) }}
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex justify-between items-center">
                                {{ form_label(form.profilePicture, null, {'label_attr': {'class': 'text-left w-1/3'}}) }}
                                {{ form_widget(form.profilePicture, {'attr': {'class': 'w-2/3 text-right', 'onchange': 'previewImage(event)'}}) }}
                            </div>
                            <div class="text-sm text-red-600">
                                {{ form_errors(form.profilePicture) }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Positionnement des boutons sous le formulaire -->
            <div class="form-buttons mt-6 flex justify-center space-x-4">
                <button type="submit" class="bg-[#ffe100] text-black font-bold py-2 px-4 rounded hover:bg-yellow-600 shadow-md">Enregistrer</button>
                <a href="{{ path('app_profil') }}" class="bg-[#bb9df2] text-black font-bold py-2 px-4 rounded hover:bg-violet-600 shadow-md">Annuler</a>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('JavaScript/profile.js') }}"></script>
{% endblock %}
