{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1 class="text-center text-3xl font-semibold my-3">Les sorties</h1>

    <div class="form-container mb-6 border border-slate-500 py-4 px-6 max-w-[1200px] mx-auto shadow-md rounded-md">
        <form method="GET" class="flex justify-between">
            <div class="filters-container flex flex-col gap-2 min-w-[50%]">
                <div class="status-site-container flex gap-3 justify-between">
                    <div class="status-container">
                        <label for="status">Statut</label>
                        <select name="status" id="status" class="js-select-input rounded-md">
                            <option value="all">Tous les statuts</option>
                            {% for status in statusArray %}
                                <option value="{{ status }}" {{ filters.status == status ? 'selected' : ''}}>{{ status }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="site-container">
                        <label for="siteName">Site</label>
                        <select name="siteName" id="siteName" class="js-select-input rounded-md">
                            <option value="all">Tous les sites</option>
                            {% for site in sites %}
                                <option value="{{ site.name }}" {{ filters.siteName == site.name ? 'selected' : ''}}>{{ site }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="name-container flex gap-2 items-center justify-center">
                    <label for="nameInput">Nom contenant </label>
                    <input type="text" name="nameInput" id="nameInput" placeholder="..." value="{{ filters.nameInput }}" class="flex-grow rounded-md">
                </div>
                <div class="dates-container flex justify-between items-center">
                    <label for="beginDate">Entre </label>
                    <input type="datetime-local" name="beginDate" id="beginDate" value="{{ filters.beginDate }}" class="js-date-input rounded-md">
                    <label for="endDate"> et </label>
                    <input type="datetime-local" name="endDate" id="endDate" value="{{ filters.endDate }}" class="js-date-input rounded-md">
                </div>
                <div class="checkboxes-container">
                    <div class="places-planner-container flex justify-between items-center">
{#                        <div class="placesLeft">#}
{#                            <label for="placeLeft">Places restantes</label>#}
{#                            <input type="checkbox" id="placeLeft" name="placeLeft" class="js-checkboxes-input" {{ filters.placeLeft ? 'checked' : '' }}>#}
{#                        </div>#}
                        <div class="planner-container">
                            <label for="isPlanner">Dont je suis organisateur</label>
                            <input type="checkbox" id="isPlanner" name="isPlanner" {{ filters.isPlanner ? 'checked' : '' }} class="js-checkboxes-input">
                        </div>
                    </div>
                    <div class="registered-container flex justify-between ">
                        <div class="all-container">
                            <label for="registeredAll">Peu importe</label>
                            <input type="radio" name="registered" value="all" id="registeredAll" {{ filters.registered == "all" or filters.registered is null ? 'checked' : '' }}>
                        </div>
                        <div class="registeredOk-container">
                            <label for="registeredOk">Inscrit</label>
                            <input type="radio" name="registered" value="registeredOk" id="registeredOk" {{ filters.registered == "registeredOk" ? 'checked' : '' }}>
                        </div>
                        <div class="notRegistered-container">
                            <label for="notRegistered">Non inscrit</label>
                            <input type="radio" name="registered" value="notRegistered" id="notRegistered" {{ filters.registered == "notRegistered" ? 'checked' : '' }}>
                        </div>
                    </div>
                    <input type="hidden" value="{{ app.user.pseudo }}" name="userPseudo">
                </div>
            </div>

            <div class="btns-container min-w-[30%] flex flex-col items-center justify-center gap-4">
                <button type="submit" class="max-w-[40%] min-w-fit py-2 px-4 rounded-md bg-amber-400 text-white hover:opacity-80 shadow-md">Filtrer</button>
                <button id="reset-filters-btn" class="max-w-[40%] min-w-fit py-2 px-4 rounded-md bg-slate-600 text-white hover:opacity-80 shadow-md">Réinitialiser</button>
            </div>

        </form>
    </div>
    
    <div class="grid grid-cols-auto-fill-300 gap-4 max-w-[1200px] mx-auto">

        {% for event in events %}
            <div class="event-card {{ event.state | mapStatusForTailwind}} max-h-[300px] flex flex-col mb-4 pt-2 pb-4 px-3 justify-between rounded-md shadow-md ">
                <div class="name-and-date-container flex justify-between items-end">
                    <p class="font-semibold text-xl hover:opacity-80">
                        <a href="{{ path('app_event_show', {'id': event.id}) }}">{{ event.name }}</a>
                    </p>
                    <p class="font-semibold">{{ event.dateTimeStart ? event.dateTimeStart|date('d-m-Y à H:i') : '' }}</p>
                </div>
                <div class="inscr-container flex justify-between items-center">
                    <div class="limit-container ">
                        <p class="font-semibold">Date limite : </p>
                        <p> {{ event.registrationDeadline ? event.registrationDeadline|date('d-m-Y - H:i') : '' }}</p>
                    </div>

                    {% if app.user in event.registered %}
                        <img src="{{ asset('images/registered.svg') }}" alt="icone correcte" class="w-10">
                    {% else %}
                        <img src="{{ asset('images/notRegistered.svg') }}" alt="icone fausse" class="w-10">
                    {% endif %}

                </div>
                <div class="place-container">
                    <p>{{ event.registered | length }} / {{ event.maxNbRegistration }} places</p>
                </div>
                <div class="desc-container">
                    <p>{{ event.infoEvent }}</p>
                </div>
                <div class="org-container flex justify-between">

                    <p>Organisateur : <a href="{{ path('app_profil', {'id':event.planner.id}) }}" class="font-semibold hover:opacity-80">{{ event.planner.pseudo }}</a></p>
                    <p class="">{{ event.state | upper }}</p>

                </div>
                <div class="actions-container mx-auto max-w-fit mt-2">
                    <a href="{{ path('app_event_show', {'id': event.id}) }}" class="py-2 px-4 min-w-[100px] bg-blue-800 text-white rounded-md shadow-md hover:opacity-80">VOIR</a>
                    {% if event.planner.pseudo == app.user.pseudo %}
                        <a href="{{ path('app_event_edit', {'id': event.id}) }}" class="py-2 px-4 min-w-[100px] bg-amber-600 text-white rounded-md shadow-md hover:opacity-80">MODIFIER</a>
                    {% endif %}
                </div>
            </div>

        {% else %}
            <div>
                <p>Aucun évènements trouvé ! Essayez différents filtres ...</p>
            </div>
        {% endfor %}


    </div>

    <a href="{{ path('app_event_new') }}" class="my-4 py-3 px-6 block w-fit mx-auto bg-amber-400 rounded-md hover:opacity-80 shadow-md font-semibold">Nouvelle sortie</a>


    <script defer>
        const resetBtn = document.getElementById('reset-filters-btn');

        const selectInputs = [...document.querySelectorAll('.js-select-input')];
        const nameInput = document.getElementById('nameInput');
        const dateInputs = [...document.querySelectorAll('.js-date-input')];
        const checkboxes = [...document.querySelectorAll('.js-checkboxes-input')];
        const defaultRadioBtn = document.getElementById('registeredAll');

        resetBtn.addEventListener('click', handleFormReset)

        function handleFormReset(e){
            e.preventDefault();
            selectInputs.forEach(selectInput => selectInput.value = "all");
            nameInput.value = "";
            dateInputs.forEach(dateInput => dateInput.value = "");
            checkboxes.forEach(checkbox=>checkbox.checked = false);
            defaultRadioBtn.checked = true;

            if(plannerCheckbox.disabled) plannerCheckbox.disabled = false;
        }


        const stateInput = document.getElementById('status');
        const plannerCheckbox = document.getElementById('isPlanner');


        stateInput.addEventListener('change', checkForPlannerCheckbox)

        function checkForPlannerCheckbox(e){
            if(stateInput.value === "Annulée" || stateInput.value === "Créée"){
                plannerCheckbox.checked = true;
                plannerCheckbox.disabled = true;
            }else{
                plannerCheckbox.disabled = false;
            }
        }

        //Au chargement de la page, donc du script on vérifie aussi l'état.
        checkForPlannerCheckbox();

        console.log(stateInput, plannerCheckbox)

    </script>
{% endblock %}
