{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1 class="text-center text-3xl font-semibold my-3">Les sorties</h1>

    <div class="vue-btn-container">
        <button id="switch-vue-btn" class="py-1 px-2 rounded-md w-[120px] bg-red-200 fixed top-[120px] right-[20px]">Vue tableau</button>
    </div>

    <div class="form-container mb-6 border border-slate-500 py-4 px-6 max-w-[1200px] mx-auto shadow-md rounded-md">
        <form method="GET" class="filters-form flex justify-between">
            <div class="filters-container flex flex-col gap-2 min-w-[50%]">
                <div class="status-site-container flex gap-3 justify-between">
                    <div class="status-container">
                        <label for="status">Statut</label>
                        <select name="status" id="status" class="js-select-input rounded-md">
                            <option value="all">Tous les statuts</option>
                            {% for status in statusArray %}
                                <option value="{{ status }}" {{ filters.status == status ? 'selected' : ''}}>{{ status }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="site-container">
                        <label for="siteName">Site</label>
                        <select name="siteName" id="siteName" class="js-select-input rounded-md">
                            <option value="all">Tous les sites</option>
                            {% for site in sites %}
                                <option value="{{ site.name }}" {{ filters.siteName == site.name ? 'selected' : ''}}>{{ site }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="name-container flex gap-2 items-center justify-center">
                    <label for="nameInput">Nom contenant </label>
                    <input type="text" name="nameInput" id="nameInput" placeholder="..." value="{{ filters.nameInput }}" class="flex-grow rounded-md">
                </div>
                <div class="dates-container flex justify-between items-center">
                    <label for="beginDate">Entre </label>
                    <input type="datetime-local" name="beginDate" id="beginDate" value="{{ filters.beginDate }}" class="js-date-input rounded-md">
                    <label for="endDate"> et </label>
                    <input type="datetime-local" name="endDate" id="endDate" value="{{ filters.endDate }}" class="js-date-input rounded-md">
                </div>
                <div class="checkboxes-container">
                    <div class="places-planner-container flex justify-between items-center">
{#                        <div class="placesLeft">#}
{#                            <label for="placeLeft">Places restantes</label>#}
{#                            <input type="checkbox" id="placeLeft" name="placeLeft" class="js-checkboxes-input" {{ filters.placeLeft ? 'checked' : '' }}>#}
{#                        </div>#}
                        <div class="planner-container">
                            <label class="flex justify-between items-center gap-2">
                                Dont je suis organisateur
                            <input type="checkbox" name="isPlanner" id="isPlanner"{{ filters.isPlanner ? 'checked' : '' }} class="js-checkboxes-input peer hidden bg-transparent">
                            <span class="bg-gray-300 w-11 h-7 rounded-full flex flex-shrink-0 items-center after:bg-white after:w-5 after:h-5 after:rounded-full p-1 peer-checked:bg-green-500 peer-disabled:bg-red-500 peer-checked:after:translate-x-4 ease-in-out duration-400 after:duration-300"></span>
                            </label>
                        </div>
                    </div>
                    <div class="registered-container flex justify-between ">
                        <div class="all-container">
                            <label for="registeredAll">Peu importe</label>
                            <input type="radio" name="registered" value="all" id="registeredAll" {{ filters.registered == "all" or filters.registered is null ? 'checked' : '' }}>
                        </div>
                        <div class="registeredOk-container">
                            <label for="registeredOk">Inscrit</label>
                            <input type="radio" name="registered" value="registeredOk" id="registeredOk" {{ filters.registered == "registeredOk" ? 'checked' : '' }}>
                        </div>
                        <div class="notRegistered-container">
                            <label for="notRegistered">Non inscrit</label>
                            <input type="radio" name="registered" value="notRegistered" id="notRegistered" {{ filters.registered == "notRegistered" ? 'checked' : '' }}>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hidden-params hidden">
                <input type="checkbox" id="js-vue-params" name="vue" value="cards" checked>
                <p id="js-user-id">{{ app.user.id }}</p>
                <p id="js-user-pseudo">{{ app.user.pseudo }}</p>
                {% if 'ROLE_ADMIN' in app.user.roles %}
                    <p class="hidden" id="isAdmin">admin</p>
                {% endif %}
            </div>


            <div class="btns-container min-w-[30%] flex flex-col items-center justify-center gap-4">
                <button type="submit" id="submitBtn" class="max-w-[40%] min-w-fit py-2 px-4 rounded-md bg-amber-400 text-white hover:opacity-80 shadow-md">Filtrer</button>
                <button id="reset-filters-btn" class="max-w-[40%] min-w-fit py-2 px-4 rounded-md bg-slate-600 text-white hover:opacity-80 shadow-md">Réinitialiser</button>
            </div>

        </form>
    </div>
    
{#    <div class="card-container {{ vue == "cards" ? 'grid' : 'hidden' }} grid-cols-auto-fill-300 gap-4 max-w-[1200px] mx-auto">#}
{#        {% for event in events %}#}
{#            <div class="event-card#}
{#            max-h-[300px] flex flex-col mb-4 pt-2 pb-4 px-3 justify-between rounded-md shadow-md hover:scale-105 transition-transform#}
{#            {{ event.state == 'published' ? 'bg-green-200' :#}
{#            event.state == 'past' ? 'bg-gray-100' :#}
{#            event.state == 'in_progress' ? 'bg-amber-50' :#}
{#            event.state == 'archived' ? 'bg-gray-200 opacity-70' :#}
{#            event.state == 'closed' ? 'bg-red-200' :#}
{#            event.state == 'full' ? 'bg-stone-300' :#}
{#            event.state == 'created' ? 'bg-blue-200' :#}
{#            event.state == 'canceled' ? 'bg-gray-500 opacity-70' : ''}} ">#}
{#                <div class="name-and-date-container flex justify-between items-center">#}
{#                    <p class="font-semibold text-xl hover:opacity-80">#}
{#                        <a href="{{ path('app_event_show', {'id': event.id}) }}">{{ event.name }}</a>#}
{#                    </p>#}
{#                    <input type="datetime-local" value="{{ event.dateTimeStart | date('Y-m-d H:i')  }}" class="js-unchangeable-date px-0 border-0 bg-inherit text-sm">#}
{#                </div>#}
{#                <div class="inscr-container flex justify-between items-center">#}
{#                    <div class="limit-container ">#}
{#                        <p class="font-semibold">Date limite : </p>#}
{#                        <input type="datetime-local" value="{{ event.registrationDeadline | date('Y-m-d H:i')  }}" class="js-unchangeable-date p-0 border-0 bg-inherit text-sm">#}
{#                    </div>#}

{#                    {% if (app.user.pseudo == event.planner.pseudo) %}#}
{#                        <p class="text-blue-500 font-semibold">Organisateur</p>#}
{#                    {% else %}#}
{#                        {% if (app.user in event.registered) %}#}
{#                            <p class="text-green-500 font-semibold">Inscrit</p>#}
{#                        {% else %}#}
{#                                <p class="text-red-500 font-semibold">Non inscrit</p>#}
{#                        {% endif %}#}
{#                    {% endif %}#}

{#                </div>#}
{#                <div class="place-container">#}
{#                    <p>{{ event.registered | length }} / {{ event.maxNbRegistration }} places</p>#}
{#                </div>#}
{#                <div class="desc-container">#}
{#                    <p>{{ event.infoEvent }}</p>#}
{#                </div>#}
{#                <div class="org-container flex justify-between">#}

{#                    <p>Organisateur : <a href="{{ path('app_profil', {'id':event.planner.id}) }}" class="font-semibold hover:opacity-80">{{ event.planner.pseudo }}</a></p>#}
{#                    <p class="">{{ event.state | mapStatusToFrench }}</p>#}

{#                </div>#}
{#                <div class="actions-container mx-auto max-w-fit mt-2">#}
{#                    <a href="{{ path('app_event_show', {'id': event.id}) }}" class="py-2 px-4 min-w-[100px] bg-blue-800 text-white rounded-md shadow-md hover:opacity-80">VOIR</a>#}
{#                    {% if event.planner.pseudo == app.user.pseudo %}#}
{#                        <a href="{{ path('app_event_edit', {'id': event.id}) }}" class="py-2 px-4 min-w-[100px] bg-amber-600 text-white rounded-md shadow-md hover:opacity-80">MODIFIER</a>#}
{#                    {% endif %}#}
{#                </div>#}


{#            </div>#}

{#        {% else %}#}
{#            <div>#}
{#                <p>Aucun évènements trouvé ! Essayez différents filtres ...</p>#}
{#            </div>#}
{#        {% endfor %}#}


{#    </div>#}

    <div class="table-container max-w-[1200px] mx-auto {{ vue == "cards" ? 'hidden' : 'block' }}">
        <table class="table w-full">
            <thead>
            <tr class="border border-slate-900 bg-slate-900">
                <th class="th-style">Nom</th>
                <th class="th-style">Date de début</th>
                <th class="th-style">Durée</th>
                <th class="th-style">Clôture</th>
                <th class="th-style">Inscrits/Places</th>
                <th class="th-style">Inscrit</th>
                <th class="th-style">État</th>
                <th class="th-style">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}

                <tr class="hover:opacity-80
                    {{ event.state == 'published' ? 'bg-green-200' :
                event.state == 'past' ? 'bg-gray-100' :
                event.state == 'in_progress' ? 'bg-amber-50' :
                event.state == 'archived' ? 'bg-gray-200 opacity-70' :
                event.state == 'closed' ? 'bg-red-200' :
                event.state == 'full' ? 'bg-stone-300' :
                event.state == 'created' ? 'bg-blue-200' :
                event.state == 'canceled' ? 'bg-gray-500 opacity-70' : ''}} ">

                    <td class="td-style">{{ event.name }}</td>
                    <td class="td-style">
                        <input type="datetime-local" value="{{ event.dateTimeStart | date('Y-m-d H:i')  }}" class="js-unchangeable-date js-{{ event.dateTimeStart | date('Y-m-d_H:i')}} px-0 border-0 bg-inherit ">
                    </td>
{#                    <td class="td-style">{{ event.dateTimeStart ? event.dateTimeStart|date('d/m/Y H:i') : '' }}</td>#}
                    <td class="td-style">{{ event.duration ? event.duration|date('H:i') : '' }}</td>
                    <td class="td-style">
                        <input type="datetime-local" value="{{ event.registrationDeadline | date('Y-m-d H:i')  }}" class="js-unchangeable-date js-{{ event.registrationDeadline | date('Y-m-d_H:i')}} px-0 border-0 bg-inherit ">
                    </td>
                    <td class="td-style">{{ event.registered | length }}/{{ event.maxNbRegistration }}</td>
                    <td class="td-style">{% if (app.user.pseudo == event.planner.pseudo) %}
                            <p class="text-blue-500 font-semibold">Organisateur</p>
                        {% else %}
                            {% if (app.user in event.registered) %}
                                <p class="text-green-500 font-semibold">Inscrit</p>
                            {% else %}
                                <p class="text-red-500 font-semibold">Non inscrit</p>
                            {% endif %}
                        {% endif %}</td>
                    <td class="td-style">{{ event.state | mapStatusToFrench }}</td>
                    <td class="td-style flex justify-center items-center gap-1">
                        <a href="{{ path('app_event_show', {'id': event.id}) }}" class="py-1 px-2 max-w-fit bg-blue-800 text-white rounded-md shadow-md hover:opacity-80">VOIR</a>
                        {% if event.planner.pseudo == app.user.pseudo %}
                            <a href="{{ path('app_event_edit', {'id': event.id}) }}" class="py-1 px-2 bg-amber-600 text-white rounded-md shadow-md hover:opacity-80">MODIFIER</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>Aucun évènements trouvé ! Essayez différents filtres ...</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <a href="{{ path('app_event_new') }}" class="my-4 py-3 px-6 block w-fit mx-auto bg-amber-400 rounded-md hover:opacity-80 shadow-md font-semibold">Nouvelle sortie</a>

    <button id="fetchApiTest">FetchAPITest</button>

    <div class="js-test-cards-container">

    </div>
    <div class="js-test-table-container">

    </div>

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('JS/main_page_utils.js') }}" defer></script>
        <script src="{{ asset('JS/fetchAPI.js') }}" defer></script>
    {% endblock %}


{% endblock %}
