{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block stylesheets%}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
{% endblock %}

{% block body %}
    <div class="js-datas" data-place="{{ event.place|serialize(format='json') }}"></div>
    <div class="mt-5 p-4 max-w-screen-md mx-auto border border-slate-100 bg-amber-50 shadow-md rounded-md flex-col">
        <div>
            <time class="text-xs">{{ event.dateTimeStart |date('d/m/Y')}}</time>
            <h1 class="mb-3 font-semibold text-center text-3xl">{{ event.name }}</h1>
        </div>

        <div class="flex flex-col md:flex-row">
            <div class="flex flex-col justify-between md:w-2/5">
                <div>
                    <div class="mb-2">
                        <h2 class="font-bold text-xl">À propos de cet évènement</h2>
                        <p class="font-bold">Date et heure</p>
                        <p>{{ event.dateTimeStart|date('d/m/Y H:i:s') }}</p>
                        {% set heures = event.duration|date('G') %}
                        {% set minutes = event.duration|date('i') %}
                        <p><span class="font-semibold">Cet évènement dure</span> {% if heures > 0  %} {{ heures }} heure{{ heures > 1 ? 's' : '' }}{% endif %}{% if minutes > 0 %}{{ minutes|trim('0') }} minute{{ minutes > 1 ? 's' : '' }}{% endif %}
                        </p>
                        <p><span class="font-semibold">Il reste</span> {{ event.maxNbRegistration - event.registered|length }} places sur {{ event.maxNbRegistration }}</p>
                        <p><span class="font-semibold">Inscription avant le</span> {{ event.registrationDeadline|date('d/m/Y à H:i') }}</p>
                    </div>
                    <div class="mb-2">
                        <p>{{ event.infoEvent }}</p>
                    </div>
                </div>
                <div class="pt-4 pb-2">
                    <p>Organisé par <a href="{{ path('app_profil',{'id':event.planner.id}) }}" class="font-semibold hover:opacity-80">{{ event.planner.pseudo }}</a></p>
                </div>
            </div>
            <div id="map" class="h-96 mb-2 md:w-3/5"></div>
        </div>
        <div class="w-full">
            <table class="w-full table-auto">
                <caption class="caption-top">Participants</caption>
                <thead class="border-b-2 border-black">
                    <tr>
                        <th class="text-left">Pseudo</th>
                        <th class="text-left">Nom</th>
                    </tr>
                </thead>
                <tbody>
                {% for participant in event.registered %}
                    <tr>
                        <td><a href="{{ path('app_profil',{'id': participant.id}) }}" class="font-semibold hover:opacity-80">{{ participant.pseudo }}</a></td>
                        <td>{{ participant.firstName }} {{ participant.lastName|upper }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if (event.state == 'published') %}
            {% if app.user not in event.registered %}
                <a href="{{ path('app_event_register',{ 'id':event.id}) }}" class="bg-amber-400 rounded-md py-1 px-2 max-w-fit mx-auto hover:opacity-80">S'inscrire</a>
            {% else %}
                <a href="{{ path('app_event_unregister',{ 'id':event.id}) }}" class="bg-amber-400 rounded-md py-1 px-2 max-w-fit mx-auto hover:opacity-80">Se désister</a>
            {% endif %}
        {% endif %}

        {% if (event.state == 'full')%}
            {% if app.user in event.registered %}
                <a href="{{ path('app_event_unregister',{ 'id':event.id}) }}" class="bg-amber-400 rounded-md py-1 px-2 max-w-fit mx-auto hover:opacity-80">Se désister</a>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="{{ asset('JavaScript/eventShow.js') }}"></script>
{% endblock %}