{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post" class="mt-5 p-4 max-w-screen-md mx-auto border border-slate-100 bg-amber-50 shadow-md rounded-md flex flex-col">

    <h1 class="mb-3 font-semibold text-center">Connectez-vous</h1>

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    {% if error %}
        <div class="text-red-600 text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <label for="inputEmail">Email/Pseudo</label>
    <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="border border-slate-500" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="mb-3 border border-slate-500" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Se souvenir de moi
        </label>
    </div>

    <button class="bg-amber-400 rounded-md py-1 px-2 max-w-fit mx-auto hover:opacity-80" type="submit">
        Sign in
    </button>
</form>
{% endblock %}
